
<div class="center-search">
  <h1> Development Team </h1>
</div>

<style>
div.gallery {
  margin: 5px;
  float: left;
  width: 180px;
  border-radius: 50%;
}


div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin: 0 auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  float: left;
  margin-top: 4em;
}

.center_photo {
  margin: auto;
}

.app-description {
  margin: auto;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

</style>

</head>
<body>
  <div class="container about-container">
    <div class="app-description">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elit ullamcorper dignissim cras tincidunt lobortis. Sem et tortor consequat id porta. Imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper. Nec nam aliquam sem et tortor. Integer vitae justo eget magna fermentum iaculis. Id diam maecenas ultricies mi eget mauris pharetra et. Hendrerit gravida rutrum quisque non tellus orci. Vitae purus faucibus ornare suspendisse sed nisi lacus sed. Imperdiet nulla malesuada pellentesque elit. In pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Faucibus in ornare quam viverra orci sagittis eu volutpat. Non tellus orci ac auctor. In iaculis nunc sed augue lacus viverra. Varius quam quisque id diam vel quam elementum pulvinar etiam.
      </p>
    </div>
    <div class="center_photo">
      <div class="gallery center-search">
        <a target="_blank" >
          <img src="https://avatars3.githubusercontent.com/u/37886458?s=460&u=83f7cc97e6e21413954d096159ef462c67513d1e&v=4" alt="Jane Greene" width="600" height="400">
        </a>
        <br>
        <br>
        <p>Jane Greene</p>
        <a href="https://www.linkedin.com/in/jane-greene-mba/">LinkedIn</a><a> | </a>
        <a href="https://github.com/janegreene">GitHub</a>  
      </div>

      <div class="gallery center-search">
        <a target="_blank" >
          <img src="https://avatars2.githubusercontent.com/u/57969870?s=460&u=e8847a281d0de6de61d52db7247fa12bc0f4deab&v=4" alt="Taylor Keller" width="600" height="400">
        </a>
        <br>
        <br>
        <p>Taylor Keller</p>
        <a href="https://www.linkedin.com/in/taylor-a-keller/">LinkedIn</a><a> | </a>
        <a href="https://github.com/takeller">GitHub</a> 
      </div>

      <div class="gallery center-search">
        <a target="_blank" >
          <img src="https://avatars0.githubusercontent.com/u/57972448?s=460&u=470cdda6464c4aa4f1cd0e8f07d7f248e49b6b58&v=4" alt="Danny Ramos" width="600" height="400">
        </a>
        <br>
        <br>
        <p>Danny Ramos</p>
        <a href="https://www.linkedin.com/in/danny-ramos-j/">LinkedIn</a><a> | </a>
        <a href="https://github.com/muydanny">GitHub</a> 
      </div>

      <div class="gallery center-search">
        <a target="_blank" >
          <img src="https://avatars2.githubusercontent.com/u/54010239?s=460&u=1dce30047dfbe6fed2357bacfffd16f3ab14c8fd&v=4" alt="Kyle Iverson" width="600" height="400">
        </a>
        <br>
        <br>
        <p>Kyle Iverson</p>
        <a href="https://www.linkedin.com/in/kyleiverson/">LinkedIn</a><a> | </a>
        <a href="https://github.com/kiverso">GitHub</a> 
      </div>
    </div>
    <div class="desc">
      <a target="_blank" >
        <a href="https://github.com/takeller/podsmack">Project Repo</a>  
      </a>
    </div>
  </div>
</body>