<header class="masthead row">
      <div class="masthead-text container h-100 col-lg-6">
        <div class="row h-100">
          <div class="col-lg-7 mb-auto">
            <div class="center-search">
              <h1 class="mb-5">Podsmack</h1>
              <%= link_to 'Find your next favorite podcast', podcasts_path, :class => "btn btn-outline btn-xl js-scroll-trigger" %>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="img/demo-screen-1.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="download bg-primary text-center" id="download">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Featured Podcasts</h2>
            <p>Our app helps you narrow down your search.</p>
            <div class="featured_3">
              <% @featured_podcasts.each do |podcast, description| %>
                <section align ="center" class ="grid-item" >
                  <p><%= "#{podcast.name} - Description: #{description}" %></p>
                </section>
              <% end %>
            </div>
            <div class="badges">
              <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
              <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </section>
