<header class="row">
  <div class="masthead-text container">
    <div class="center-search">
      <h1 class="podsmack-font">Podsmack</h1>
      <p>Find your next favorite local podcast. Podsmack makes it easier to find local podcasts you're interested in.</p>
      <p>Have a great podcast? Register it on Podsmack and connect with local listeners.</p>
      <%= link_to 'Find your next favorite podcast', podcasts_path, :class => "btn btn-outline btn-xl js-scroll-trigger" %>
    </div>
</header>

<div class="flip-card-container">
  <div class="flip-card">
    <div class="flip-card-front">
      <img src="https://www.theledger.com/storyimage/LK/20200306/ENTERTAINMENT/200308810/AR/0/AR-200308810.jpg">
    </div>
    <div class="flip-card-back">
      <p>
        <span>- The Revolutionists -</span>
        "A weekly podcasting exploring great political revolutions. Now: The Russian Revolution Next: ???"
      </p>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-front">
      <img src="https://media.wnyc.org/i/1400/1400/l/80/1/2DQ_1400X1400_NoWNYCSTUDIOS_2.png">
    </div>
    <div class="flip-card-back">
      <p>
        <span>- Two Dope Queens -</span>
        "Phoebe Robinson and Jessica Williams are funny. They're black. They're BFFs. And they host a live comedy show in Brooklyn. Join the 2 Dope Queens, along with their favorite comedians, for stories about sex, romance, race, hair journeys, living in New York, and Billy Joel. Plus a whole bunch of other s**t."
      </p>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-front">
      <img src="https://media.npr.org/images/podcasts/primary/icon_381444650-04c1bad8586e69edf04b78ea319846614c4a6a6b.png?s=1400">
    </div>
    <div class="flip-card-back">
      <p>
        <span>- This American Life -</span>
        "A weekly public radio program and podcast. Each week we choose a theme and put together different kinds of stories on that theme."
      </p>
    </div>
  </div>
</div>



</section>
