<h1>  Welcome to Podsmack </h1>

<div 100px>
  <img src ="https://media.giphy.com/media/xT9IgFLfWUZigjoem4/giphy.gif">
</div>

<style>
div.gallery {
  margin: 5px;
  float: left;
  width: 180px;
  border-radius: 50%;
}


div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin: 0 auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
</head>